@model List<DuLichDLL.Model.DL_City>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>




<div>
    <table class="table table-condensed">
        <tr>
            <th>avatar </th>
            <th>thanh pho</th>
        </tr>
       
        {
            <tr>
                <td>
                    <img src="@ViewBag.pathAvatarCity/@Model[0].Avatar" width ="25px" height="25px"/>
                </td>
                <td>
                    <a href="@Url.Action("Detail", "City", new { ID = Model[0].ID })">@Model[0].CityName</a>
                </td>
                <td>
                    @Model[0].AvgRating
                </td>
                <td>
                    @Html.Partial("~/Views/Shared/_Rate.cshtml",Model);
                    @*<div class="ratting-item" data-pid="@Model[0].ID">
                        @if (Model[0].AvgRating >= 1)
                        {
                            <input class="rating" name="vote" type="radio" value="1" checked="checked" />
                        }
                        else
                        {
                            <input class="rating" name="vote" type="radio" value="1" />
                        }
                        @if (Model[0].AvgRating >= 2)
                        {
                            <input class="rating" name="vote" type="radio" value="2" checked="checked" />
                        }
                        else
                        {
                            <input class="rating" name="vote" type="radio" value="2" />
                        }
                        @if (Model[0].AvgRating >= 3)
                        {
                            <input class="rating" name="vote" type="radio" value="3" checked="checked" />
                        }
                        else
                        {
                            <input class="rating" name="vote" type="radio" value="3" />
                        }
                        @if (Model[0].AvgRating >= 4)
                        {
                            <input class="rating" name="vote" type="radio" value="4" checked="checked" />
                        }
                        else
                        {
                            <input class="rating" name="vote" type="radio" value="4" />
                        }
                        @if (Model[0].AvgRating >= 5)
                        {
                            <input class="rating" name="vote" type="radio" value="5" checked="checked" />
                        }
                        else
                        {
                            <input class="rating" name="vote" type="radio" value="5" />
                        }
                    </div>
                    *@
                    @*<div id="star" data-pid="@Model[0].ID" data-score="@Model[0].AvgRating"></div>
                    <p id="currentlyrated" style="float: left; padding-left: 20px;">
                        Currently rated:  @Model[0].AvgRating by @Model[0].TotalUserRating people;
                    </p>*@
                   
                </td>
            </tr>
        }


    </table>

</div>



<script type="text/javascript" src="@Url.Content("~/Scripts/rating.js")"></script>
<script>
    $(function () {
       
        $('.ratting-item').rating(function (vote, event) {
            var anchor = $(event.currentTarget),
                pid = anchor.closest(".ratting-item").data("pid"),
                url = '@Url.Action("RateProduct", "City")';
      
                // show message while doing the database round trip
            $('.ratting-item[data-pid=' + pid + ']')
                .next()
                .text("You Vote ID=" + pid);
                $.ajax({
                    url: url,
                    type: "GET",
                    data: { rate: vote, Cityid: pid },
                    success: function (data) {

                        if (data.success) {
                            // all went well, here you can say Thank you
                            $('.ratting-item[data-pid=' + data.pid + ']')
                                .next()
                                .text("Voted! (Avg: " + data.Avg + " by " +data.Total+ " peopel! )");
                        }
                        else {
                            // There must be an Exception error, let's show it
                            $('.ratting-item[data-pid=' + data.pid + ']')
                                .next()
                                .text("Something went wrong...");
                        }
                    },
                    error: function (err) {
                        // the call thrown an error
                        $('.result').text(err);
                    },
                    complete: function () {
                        $(".ratting-item").disabled();
                        $(".ratting-item").show();
                    }
                });
            });
        })
</script>

