@model DuLichDLL.Model.DL_City
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/themes/city.css");
}

<h2>Detail</h2>
<div class="leftpanel" style="width:50%">
    <div id="imagecity">
        <img src="@ViewBag.pathAvatarCity/@Model.Avatar"/>
    </div>
</div>
<div class="rightpanel" style="width:50%">
    <div id="contentcity">
        @Model.Summary
    </div>
    <div>
         @Html.Partial("_BookShowcase")
    </div>
    <div id="niceplace">
        <a href="@Url.Action("NicePlaceByCity", "Place", new { cityId = Model.ID })">Nice Place
        </a>
    </div>
    <div id="restaurants">
        <a href="@Url.Action("RestaurantsByCity", "Place", new { cityId = Model.ID })">Restaurant place
        </a>
    </div>
    <div id="hotel">
        <a href="@Url.Action("HotelByCity", "Place", new { cityId = Model.ID })">Hotel Place
        </a>
    </div>
</div>
