@model DuLichDLL.Model.DL_City
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/themes/city.css");
}

<h2>Detail</h2>
<div class="leftpanel" style="width:40%">
    <div id="imagecity">
        <img src="@ViewBag.pathAvatarCity/@Model.Avatar"/>
    </div>
</div>
<div class="rightpanel" style="width:50%">
    <div id="contentcity">
        @Model.Summary
    </div>
    
</div>
<div class="showcase">
    <div>
         @Html.Partial("_BookShow2")
    </div>        
    </div>  
<script>
    function dosomething() {
        location.href = '@Url.Action("NicePlaceByCity", "Place", new { ID = Model.ID })';     
    }
    function dosomething2() {
        location.href = '@Url.Action("RestaurantByCity", "Restaurant", new { ID = Model.ID })';
    }
    function dosomething3() {
        location.href = '@Url.Action("HotelByCity", "Place", new { ID = Model.ID })';
     }
</script>