<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/rating.css")
    @Scripts.Render("~/Script/rating.js")
    @Scripts.Render("~/Script/jquery-1.8.2.min.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/base")
    @RenderSection("scripts", required: false)
    @Styles.Render("/Content/themes/20Things_PageFlip_Example/example/main.css")
</head>
<body>
    <div id="header">
        @Html.Partial("p_Header")
    </div>
    <div id="body">

        @RenderBody()
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>
</body>
</html>
